![texto_descriptivo](portada.jpg)

### Importamos los módulos necesarios para el proyecto

In [71]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
import sys
sys.path.append('/content/drive/MyDrive/Colab Notebooks/w2_project_data_cleaning _and_wrangling/src/')

Mounted at /content/drive

In [72]:
import pandas as pd
import numpy as np 
import limpieza_texto as lt
import re
import seaborn as sns

In [73]:
from google.colab import files
# uploaded = files.upload()

In [74]:
lt.say_hello()

hello

### Cargamos el dataset

In [75]:
data = pd.read_csv("drive/MyDrive/Colab Notebooks/csv_data/attacks.csv",encoding = "ISO-8859-1")

In [76]:
data.head()

  Case Number         Date    Year  ... original order Unnamed: 22 Unnamed: 23
0  2018.06.25  25-Jun-2018  2018.0  ...         6303.0         NaN         NaN
1  2018.06.18  18-Jun-2018  2018.0  ...         6302.0         NaN         NaN
2  2018.06.09  09-Jun-2018  2018.0  ...         6301.0         NaN         NaN
3  2018.06.08  08-Jun-2018  2018.0  ...         6300.0         NaN         NaN
4  2018.06.04  04-Jun-2018  2018.0  ...         6299.0         NaN         NaN

[5 rows x 24 columns]

### Dataset study

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [78]:
data.shape

(25723, 24)

### Hypothesis

In [79]:
# 1. The white shark is the terrible bad guy.
# Variables: 'Species' and 'Fatal (Y/N)'

# 2. During the nighttime, sharks tend to be more fatal.
# Variables: 'Time' and 'Fatal (Y/N)'

# 3. Most shark attacks happen in US
# Variables: 'Country'

### Limpieza de los datos

In [80]:
# Subset con las variable para el análisis de la hipotesis 1
data_1 = lt.get_subset(data, ['Species ', 'Fatal (Y/N)'])
data_1.head()

          Species  Fatal (Y/N)
0      White shark           N
1              NaN           N
2              NaN           N
3        2 m shark           N
4  Tiger shark, 3m           N

In [81]:
# Eliminar los valores nulos 
data_1 = lt.remove_na(data_1, 'Species ')
data_1 = lt.remove_na(data_1, 'Fatal (Y/N)')
data_1.head()

          Species  Fatal (Y/N)
0      White shark           N
3        2 m shark           N
4  Tiger shark, 3m           N
6      Tiger shark           Y
7  Lemon shark, 3'           N

In [82]:
# Visualizar valores únicos para 'Species'
data_1['Species '].value_counts()

White shark                              161
Tiger shark                               73
Bull shark                                51
6' shark                                  40
4' shark                                  40
                                        ...
1.8 m [6'] dogfish                         1
Wobbegong shark, 6'                        1
Species unknown, possible white shark      1
White shark, 5m to 6m                      1
Grey nurse shark, 8'                       1
Name: Species , Length: 1498, dtype: int64

In [83]:
# Función para agrupar valores en 'Species'
data_1['Shark species'] = lt.apply_filters(data_1)
data_1

                                               Species   ...  Shark species
0                                           White shark  ...          White
3                                             2 m shark  ...  Other Species
4                                       Tiger shark, 3m  ...          Tiger
6                                           Tiger shark  ...          Tiger
7                                       Lemon shark, 3'  ...          Lemon
...                                                 ...  ...            ...
6276                                    12' tiger shark  ...          Tiger
6293                                       Blue pointer  ...           Blue
6294                                       Blue pointer  ...           Blue
6295                                      Blue pointers  ...           Blue
6296  Said to involve a grey nurse shark that leapt ...  ...      Sandtiger

[2948 rows x 3 columns]

In [84]:
data_1['Shark species'].unique()

array(['White', 'Other Species', 'Tiger', 'Lemon', 'Bull', 'Gray reef',
       'Nurse', 'Blacktip reef', 'Galapagos', 'Blue', 'Spinner',
       'Porbeagle', 'Sandtiger', 'Caribbean reef', 'Broadnose sevengill',
       'Dog', 'Mako', 'Whale', 'Hammerhead', 'Raggedtooth', 'Goblin',
       'Sevengill', 'Zambezi', 'dusky', 'Gray', 'Brown', 'Carpet',
       'Shovelnose'], dtype=object)

In [85]:
# Eliminar columna 'Species'
data_1 = lt.drop_column(data_1, 'Species ')
data_1.head(5)

  Fatal (Y/N)  Shark species
0           N          White
3           N  Other Species
4           N          Tiger
6           Y          Tiger
7           N          Lemon

In [86]:
# Visualización de valores únicos para 'Fatal (Y/N)'
data_1['Fatal (Y/N)'].value_counts()

N          2497
Y           427
UNKNOWN      17
 N            5
M             1
2017          1
Name: Fatal (Y/N), dtype: int64

In [87]:
data_1['Fatal (Y/N)'].unique()

array(['N', 'Y', 'M', '2017', 'UNKNOWN', ' N'], dtype=object)

In [88]:
# Función para identificar los missing_values de la columna 'Fatal (Y/N)'
# Crear nueva columna para filtrar como True los missing_values
data_1['delete_missing_values_fatal'] = lt.apply_missing_fatal(data_1)
print(data_1)

     Fatal (Y/N)  Shark species  delete_missing_values_fatal
0              N          White                        False
3              N  Other Species                        False
4              N          Tiger                        False
6              Y          Tiger                        False
7              N          Lemon                        False
...          ...            ...                          ...
6276           Y          Tiger                        False
6293           Y           Blue                        False
6294           Y           Blue                        False
6295           Y           Blue                        False
6296           Y      Sandtiger                        False

[2948 rows x 3 columns]

In [89]:
data_1['Fatal (Y/N)'].unique()

(2948, 3)

In [90]:

# Eliminar las filas cuyo valor sea True en la columna 'delete_missing_values_fatal'
data_1 = lt.drop_true_rows_by_column(data_1, 'delete_missing_values_fatal')
print(data_1.head())

  Fatal (Y/N)  Shark species  delete_missing_values_fatal
0           N          White                        False
3           N  Other Species                        False
4           N          Tiger                        False
6           Y          Tiger                        False
7           N          Lemon                        False

In [91]:
print(data_1['Fatal (Y/N)'].unique())

['N' 'Y']
(2924, 3)

In [92]:
data_1['Fatal (Y/N)'].value_counts()

N    2497
Y     427
Name: Fatal (Y/N), dtype: int64

In [93]:
# Eliminar la columna 'delete_missing_values_fatal'
data_1 = lt.drop_column(data_1, 'delete_missing_values_fatal')
data_1.head()

  Fatal (Y/N)  Shark species
0           N          White
3           N  Other Species
4           N          Tiger
6           Y          Tiger
7           N          Lemon

In [94]:
data_1.shape

(2924, 2)

In [95]:
# Exportar dataset 1
data_1.to_csv("drive/MyDrive/Colab Notebooks/csv_data/attacks_hypothesis1.csv", index = False, encoding="ISO-8859-1")

In [96]:
# Subset con las variable para el análisis de la hipotesis 2
data_2 = lt.get_subset(data, ['Fatal (Y/N)', 'Time'])
data_2.head()

  Fatal (Y/N)           Time
0           N          18h00
1           N  14h00  -15h00
2           N          07h45
3           N            NaN
4           N            NaN

In [97]:
# Eliminar los valores nulos 
data_2 = lt.remove_na(data_2, 'Time')
data_2 = lt.remove_na(data_2, 'Fatal (Y/N)')
data_2.head()

  Fatal (Y/N)            Time
0           N           18h00
1           N   14h00  -15h00
2           N           07h45
6           Y  Late afternoon
8           N           17h00

In [98]:
# Visualización de valores únicos para 'Time'
data_2['Time'].value_counts()

Afternoon        176
11h00            117
Morning          117
12h00            107
15h00            104
                ...
13h37              1
>17h30             1
Early Morning      1
14h00  -15h00      1
19h00 / 20h00      1
Name: Time, Length: 351, dtype: int64

In [99]:
data_2['Time'].unique()

array(['18h00', '14h00  -15h00', '07h45', 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       '13h30', '10h45', '11h20', '11h45', '08h30', '15h45',
       'Shortly before 12h00', '17h34', '17h10', '11h15', '17h45',
       '13h00', '10h20', '13h20', '02h00', '09h50', '11h30', '17h30',
       '9h00', '10h43', 'After noon', '15h15', '15h40', '19h05', '1300',
       '14h30 / 15h30', '22h00', '16h20', '14h34', '15h25', '14h55',
       '17h46', 'Morning ', '15h49', '19h00', 'Midnight', '09h30 / 10h00',
       '10h15', '18h15', '04h00', '14h50', '13h50', '10h25',
       '10h45-11h15', '16h45', '15h52', '06h15', '14h40', '08h45',
       'Evening', '12h10', '18h05', '11h41', '12h25', '17h51', '16h12',
       '12h45', '10h50', '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '11h10', 'Early afternoon', '17h50', '07h00 - 08h00',
       '18h15-18h30', '17h01', '09h57', '08h20', '17h58', '20h30',
       '15h19', '10h55', '15h55', '23h00', '12h40', '13h55', '16h05',
       '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '19h45', '07h20', '19h28', '12h38', '05h50', '15h50',
       '11h05', 'Dawn', '05h45', '13h25', '12h20', '13h26', '09h11',
       '12h15', '13h15', 'Midday', '18h20', '15h35', 'AM', '13h51',
       '08h50', 'A.M.', '08h05', '10h35', '19h15', '15h44', 'Dusk',
       '21h00', 'Lunchtime', '15j45', '09h35', '10h27', '10h16', '0500',
       'Early morning', '19h30', 'Before 07h00', '09h20',
       '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', '07h08', '17h00 or 17h40', '03h00',
       '>08h00', '--', '12h02', '12h55', '16h14', '17h11', '14h37',
       '10h07', '13h53', '11h55', '13h23', 'Just after 12h00', '02h30',
       '08h40', '11h56', '14h35', ' ', 'Early Morning', '07h50',
       'Shortly after midnight', '14h25', '13h345', '\xa0 ', '06h47',
       '10h10', '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.',
       '18h40', '13h14', '13h06', 'Shortly before 13h00', '12h34',
       '11h53', '8:04 pm', '12h46', '12h48', '17h42', '12h35',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', 'Prior to 10h37', 'Daybreak', '18h10',
       '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '15h00 or 15h45', '19h00 / 20h00',
       '12h45 / 13h45', '14h00 - 15h00', 'night', '03h45 - 04h00',
       '09h30 / 15h30', '08h00 / 09h30', '19h35', '13h35', 'Late night',
       '10h30 or 13h30', '16h23', '15h00j', 'Midday.', '"After dark"',
       '10h00 or 14h00', '19h10', '16h25', '2 hrs before sunset',
       '18h15 to 21h30', '1500', '"shortly before dusk"', '>17h30',
       '>14h30', 'After 04h00', '11h01 -time of ship sinking',
       'Ship aban-doned at 03h10', '19h55', 'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', 'Before daybreak',
       'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [100]:
# Función para agrupar valores en 'Time'
# Crear nueva columna para indicar lel resultado de new_values_time
data_2['Day period'] = lt.apply_time_correction(data_2)
print(data_2)

     Fatal (Y/N)            Time Day period
0              N           18h00  Afternoon
1              N   14h00  -15h00  Afternoon
2              N           07h45    Morning
6              Y  Late afternoon  Afternoon
8              N           17h00  Afternoon
...          ...             ...        ...
6241           N       Afternoon  Afternoon
6242           N       Afternoon  Afternoon
6243           N       Afternoon  Afternoon
6259           Y  Late afternoon  Afternoon
6265           Y       Afternoon  Afternoon

[2802 rows x 3 columns]

In [101]:
data_2['Day period'].value_counts()

Afternoon    1690
Morning       937
Night         137
--             38
Name: Day period, dtype: int64

In [102]:
# Eliminar las filas cuyo valor sea '--' en la columna 'Day period'
data_2 = lt.drop_dashed_rows_by_column(data_2, 'Day period')
data_2.head()

  Fatal (Y/N)            Time Day period
0           N           18h00  Afternoon
1           N   14h00  -15h00  Afternoon
2           N           07h45    Morning
6           Y  Late afternoon  Afternoon
8           N           17h00  Afternoon

In [103]:
# Eliminar la columna 'Time'
data_2 = lt.drop_column(data_2, 'Time')
data_2.head()

  Fatal (Y/N) Day period
0           N  Afternoon
1           N  Afternoon
2           N    Morning
6           Y  Afternoon
8           N  Afternoon

In [104]:
# Visualización de valores únicos para 'Fatal (Y/N)'
data_2['Fatal (Y/N)'].value_counts()

N          2269
Y           483
UNKNOWN       7
 N            3
M             1
2017          1
Name: Fatal (Y/N), dtype: int64

In [105]:
data_2['Fatal (Y/N)'].unique()

array(['N', 'Y', 'M', '2017', 'UNKNOWN', ' N'], dtype=object)

In [106]:
# Función para identificar los missing_values de la columna 'Fatal (Y/N)'
data_2['delete_missing_values_fatal'] = lt.apply_missing_fatal(data_2)
print(data_2)

     Fatal (Y/N) Day period  delete_missing_values_fatal
0              N  Afternoon                        False
1              N  Afternoon                        False
2              N    Morning                        False
6              Y  Afternoon                        False
8              N  Afternoon                        False
...          ...        ...                          ...
6241           N  Afternoon                        False
6242           N  Afternoon                        False
6243           N  Afternoon                        False
6259           Y  Afternoon                        False
6265           Y  Afternoon                        False

[2764 rows x 3 columns]

In [107]:
# Eliminar las filas cuyo valor sea True en la columna 'delete_missing_values_fatal'
data_2 = lt.drop_true_rows_by_column(data_2, 'delete_missing_values_fatal')
data_2.head()

  Fatal (Y/N) Day period  delete_missing_values_fatal
0           N  Afternoon                        False
1           N  Afternoon                        False
2           N    Morning                        False
6           Y  Afternoon                        False
8           N  Afternoon                        False

In [108]:
# Eliminar la columna 'delete_missing_values_fatal'
data_2 = lt.drop_column(data_2, 'delete_missing_values_fatal')
data_2.head()

  Fatal (Y/N) Day period
0           N  Afternoon
1           N  Afternoon
2           N    Morning
6           Y  Afternoon
8           N  Afternoon

In [109]:
# Exportar dataset 2
data_2.to_csv("drive/MyDrive/Colab Notebooks/csv_data/attacks_hypothesis2.csv", index = False, encoding="ISO-8859-1")

In [110]:
# Subset con las variable para el análisis de la hipotesis 3
data_3 = lt.get_subset(data, ['Country'])
data_3.head()

     Country
0        USA
1        USA
2        USA
3  AUSTRALIA
4     MEXICO

In [111]:
# Eliminar los valores nulos 
data_3 = lt.remove_na(data_3, 'Country')
print(data_3)

                 Country
0                    USA
1                    USA
2                    USA
3              AUSTRALIA
4                 MEXICO
...                  ...
6297           AUSTRALIA
6298           AUSTRALIA
6299                 USA
6300              PANAMA
6301  CEYLON (SRI LANKA)

[6252 rows x 1 columns]

In [112]:
# Visualizar valores únicos para 'Country'
data_3['Country'].value_counts()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
                    ...
PARAGUAY               1
ARUBA                  1
ALGERIA                1
INDIAN OCEAN?          1
ANDAMAN ISLANDS        1
Name: Country, Length: 212, dtype: int64

In [113]:
data_3['Country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', 'CUBA', 'MAURITIUS', 'NEW ZEALAND',
       'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN', 'EGYPT',
       'ST HELENA, British overseas territory', 'COMOROS', 'REUNION',
       'FRENCH POLYNESIA', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'COLUMBIA', 'CAPE VERDE',
       'Fiji', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS', 'ARUBA',
       'MOZAMBIQUE', 'FIJI', 'PUERTO RICO', 'ITALY', 'ATLANTIC OCEAN',
       'GREECE', 'ST. MARTIN', 'FRANCE', 'PAPUA NEW GUINEA',
       'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL', 'DIEGO GARCIA',
       'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES', 'GUAM',
       'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CANADA',
       'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA', 'RUSSIA',
       'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [114]:
# Función para sustituir string en las celdas
data_3 = lt.replace_countries(data_3)
print(data_3)

                 Country
0                    USA
1                    USA
2                    USA
3              AUSTRALIA
4                 MEXICO
...                  ...
6297           AUSTRALIA
6298           AUSTRALIA
6299                 USA
6300              PANAMA
6301  CEYLON (SRI LANKA)

[6252 rows x 1 columns]

In [115]:
# Función para eliminar filas cuyas variables no son paises
data_3 = lt.remove_non_countries(data_3)
print(data_3)

                 Country
0                    USA
1                    USA
2                    USA
3              AUSTRALIA
4                 MEXICO
...                  ...
6297           AUSTRALIA
6298           AUSTRALIA
6299                 USA
6300              PANAMA
6301  CEYLON (SRI LANKA)

[6179 rows x 1 columns]

In [116]:
# Función para añadir columna con el value_count de 'Country'
data_3 = lt.count_dataframe(data_3, column='Country', count_name='Attacks')
print(data_3)

                            Country  Attacks
0                               USA     2229
1                         AUSTRALIA     1338
2                      SOUTH AFRICA      579
3                  PAPUA NEW GUINEA      134
4                       NEW ZEALAND      128
..                              ...      ...
186  FEDERATED STATES OF MICRONESIA        1
187                            PERU        1
188                        PARAGUAY        1
189         PALESTINIAN TERRITORIES        1
190                     PHILIPPINES        1

[191 rows x 2 columns]

In [117]:
data_3['Country'].unique()

array(['USA', 'AUSTRALIA', 'SOUTH AFRICA', 'PAPUA NEW GUINEA',
       'NEW ZEALAND', 'BRAZIL', 'BAHAMAS', 'MEXICO', 'ITALY', 'FIJI',
       'PHILIPPINES', 'REUNION', 'NEW CALEDONIA', 'INDIA', 'CUBA',
       'MOZAMBIQUE', 'SPAIN', 'EGYPT', 'CROATIA', 'JAPAN', 'PANAMA',
       'SOLOMON ISLANDS', 'IRAN', 'JAMAICA', 'GREECE', 'FRENCH POLYNESIA',
       'HONG KONG', 'INDONESIA', 'ENGLAND', 'COSTA RICA', 'BERMUDA',
       'VIETNAM', 'TONGA', 'SRI LANKA', 'VANUATU', 'FRANCE',
       'MARSHALL ISLANDS', 'CANADA', 'IRAQ', 'TURKEY', 'UNITED KINGDOM',
       'VENEZUELA', 'SENEGAL', 'NEW GUINEA', 'KENYA', 'MAURITIUS',
       'COLUMBIA', 'ECUADOR', 'TAIWAN', 'SCOTLAND', 'SIERRA LEONE',
       'SAMOA', 'SOUTH KOREA', 'CARIBBEAN SEA', 'TANZANIA', 'THAILAND',
       'MADAGASCAR', 'CHILE', 'ISRAEL', 'YEMEN ', 'CHINA', 'SEYCHELLES',
       'DOMINICAN REPUBLIC', 'SINGAPORE', 'BARBADOS', 'NEW BRITAIN',
       'KIRIBATI', 'NICARAGUA', 'LIBYA', 'OKINAWA', 'SOMALIA', 'MALTA',
       'AZORES', 'MALAYSIA', 'SAUDI ARABIA', 'TURKS & CAICOS', 'PALAU',
       'SUDAN', 'URUGUAY', 'BURMA', 'PERSIAN GULF', 'EL SALVADOR',
       'HONDURAS', 'NIGERIA', 'GUAM', 'GRENADA', 'RUSSIA', 'CEYLON',
       'CAPE VERDE', 'BELIZE', 'HAITI', 'GUYANA', 'GUINEA',
       'AMERICAN SAMOA', ' TONGA', 'Fiji', 'LIBERIA', 'MONTENEGRO',
       'MICRONESIA', 'LEBANON', 'TUNISIA', 'TRINIDAD & TOBAGO',
       'MARTINIQUE', 'PORTUGAL', 'UNITED ARAB EMIRATES',
       'UNITED ARAB EMIRATES (UAE)', 'ANTIGUA', 'NAMIBIA', 'TOBAGO',
       'ICELAND', 'CAYMAN ISLANDS', 'CENTRAL PACIFIC', 'NORWAY',
       'MEDITERRANEAN SEA', 'WEST INDIES', 'ST. MARTIN',
       'ST HELENA, British overseas territory', 'CRETE',
       'JOHNSTON ISLAND', 'YEMEN', 'RED SEA', 'BRITISH WEST INDIES',
       'TASMAN SEA', 'KUWAIT', 'Between PORTUGAL & INDIA', 'Sierra Leone',
       'Seychelles', 'SYRIA', 'BRITISH NEW GUINEA', 'SWEDEN',
       'CEYLON (SRI LANKA)', 'BRITISH VIRGIN ISLANDS', 'BAHREIN',
       'BRITISH ISLES', 'ANGOLA', 'WESTERN SAMOA', 'ADMIRALTY ISLANDS',
       'AFRICA', 'ALGERIA', 'ANDAMAN / NICOBAR ISLANDAS',
       'ANDAMAN ISLANDS', 'ARGENTINA', 'THE BALKANS', 'ARUBA', 'ASIA',
       'TUVALU', 'COMOROS', 'BANGLADESH', 'BAY OF BENGAL',
       'SOUTH CHINA SEA', 'CYPRUS', 'COOK ISLANDS',
       'SOLOMON ISLANDS / VANUATU', 'NORTHERN MARIANA ISLANDS',
       'GREENLAND', 'NORTHERN ARABIAN SEA', 'NORTH SEA', 'GUATEMALA',
       'NICARAGUA ', 'GULF OF ADEN', 'NEVIS', 'NETHERLANDS ANTILLES',
       'MONACO', 'MEXICO ', 'IRAN / IRAQ', 'IRELAND', 'MAYOTTE',
       'MALDIVES', 'MALDIVE ISLANDS', 'JAVA', 'GRAND CAYMAN', 'GHANA',
       'GEORGIA', 'ROATAN', 'SLOVENIA', 'SAN DOMINGO', 'CURACAO', 'KOREA',
       'Coast of AFRICA', 'DIEGO GARCIA', 'DJIBOUTI', 'REUNION ISLAND',
       'GABON', 'PUERTO RICO', 'EQUATORIAL GUINEA / CAMEROON',
       'FALKLAND ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'PERU',
       'PARAGUAY', 'PALESTINIAN TERRITORIES', ' PHILIPPINES'],
      dtype=object)

In [118]:
# Exportar dataset 3
# data_3.to_csv("drive/MyDrive/Colab Notebooks/csv_data/attacks_hypothesis3.csv", index = False, encoding="ISO-8859-1")